@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color1: white;
    --color2: #cfcfcf;
    --color3: #eeeeee;
    --color4: black;
    --color5: #0084FF;
    --color6: #A4A4A4;
    --button-shadow: rgba(0, 0, 0, .1);
}

.dark-mode {
    --color1: rgb(53, 53, 53);
    --color2: #1d1d1d;
    --color3: #555555;
    --color4: rgb(255, 255, 255);
    --button-shadow: rgba(0, 0, 0, .7);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

html, body {
    min-height: 100%;
}
body {
    background-color: var(--color3);
    padding: 0;
    margin: 0;
}

.nav-bar {
    background-color: var(--color2);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
    height: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav-bar.open {
    display: block;
}

.nav-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.nav-bar.visible .nav-overlay {
    visibility: visible;
    opacity: 1;
}

.menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    translate: -100% 0;
    visibility: hidden;
    width: 200px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    padding: 25px;
    
    background-color: var(--color2);
    box-shadow: 1.5px 0px 5px 0px rgba(0, 0, 0, .3);
    transition: translate ease 0.3s;
}

.nav-bar.visible .menu {
    translate: 0 0;
    visibility: visible;
}

.menu-button {
    width: 60px;
    height: 60px;
    font-size: 50px;
    position: relative;
    cursor: pointer;
}

a {
    color: var(--color4);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    gap: 7px;
    padding: 5px;
    transition: box-shadow ease 0.5s;
    position: relative;
    border-radius: 5px;
}

a > i {
    font-size: 20px;
}

a:hover, .menu-button:hover {
    box-shadow: 4px 4px 4px var(--button-shadow),
    -2px -2px 6px var(--color1);
}

a:active, .menu-button:active  {
    box-shadow: 3px 3px 3px var(--button-shadow) inset,
    -2px -2px 6px var(--color1) inset;
}

.menu-button {
    color: var(--color4);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border-radius: 5px;
    transition: box-shadow ease 0.5s;
}

h1 {
    font-weight: 750;
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: var(--color4);
}

.tasks-general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pendent-tasks-container, .completed-tasks-container {
    width: clamp(370px, 80%, 800px);
    background-color: var(--color1);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px var(--button-shadow);
    margin-bottom: 10px;
    padding: 0px 20px;
    transition: height 1s;
}

.inner-div {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.inner-div > button {
    width: 30px;
    height: 30px;
    border-radius: 45px;
    border: none;
    transition: scale .3s, box-shadow .3s, rotate ease .3s;
    background-color: var(--color3);
    rotate: 180deg;
}

.inner-div > button:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px var(--button-shadow);
}

.inner-div > button:active {
    scale: .95;
}

.inner-div > button > i {
    font-size: 30px;
    color: var(--color4);
}

h2 {
    font-weight: 550;
    color: var(--color4);
}

.pendent-tasks, .completed-tasks {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.pendent-tasks-container.deactivated .pendent-tasks .task, 
.completed-tasks-container.deactivated .completed-tasks .task  {
    display: none;
}

.pendent-tasks-container.deactivated .inner-div .hide-pendent,
.completed-tasks-container.deactivated .inner-div .hide-completed {
    rotate: 360deg;
}

.completed-tasks-container {
    margin-bottom: 100px;
}

.task {
    width: 100%;
    height: 65px;
    background-color: var(--color3);
    box-shadow: var(--button-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.task:last-of-type {
    margin-bottom: 10px;

}

.task > li {
    font-size: 20px;
    letter-spacing: -.5px;
    text-indent: 5px;
    color: var(--color4);
}

.task span{
    display: flex;
    gap: 7px;
}

.task span input {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color6);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
}

.task span input[type="checkbox"]:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .3) inset;
}

.task span input[type="checkbox"]:checked::after {
    content: "✓";
    color: var(--color6);
    display: block;
    position: relative;
    transform: translate(8%, -19%);
    font-size: 37px;
    font-weight: 1000;
    line-height: 30px;
}

.delete {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 30px;
    display: flex;
    opacity: 0;
    color: var(--color6);
    align-items: center;
    justify-content: center;
    transition: all ease-out .3s;
    background-color: var(--color3);
}

.task:hover .delete {
    opacity: 1;
}

.delete:hover {
    color: rgb(255, 47, 47);
    cursor: pointer;
}

.add-button {
    background-color: var(--color5);
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 1px var(--button-shadow);
    position: fixed;
    bottom: 0;
    margin-bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}


.create-task-panel {
    display: none;
}

.create-task-panel.visible {
    display: block;
}

.nav-overlay.create-panel {
    z-index: 1;
    transition: all .3s;
}

.create-task-panel.visible .nav-overlay.create-panel {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.panel {
    z-index: 2;
    background-color: var(--color1);
    border-radius: 25px;
    box-shadow: 0px 1px 5px 1px var(--button-shadow);
    position: fixed;
}

@media only screen and (min-width: 700px) {
    .nav-bar {
        display: flex;
        padding: 15px;
        height: 45px;
    }

    .menu {
        z-index: 0;
        position: static;
        padding: 25px 5px;
        display: flex;
        flex-direction: row;
        gap: 45px;
        width: 100%;
        height: auto;
        box-shadow: none;
        font-size: 15px;
        visibility: visible;
        translate: 0 0;
    }
    
    .menu-button {
        display: none;
    }

    h1 {
        font-weight: 800;
        font-size: 50px;
    }
}

